.contenedor-proveedor{
    display: flex;
    margin-bottom: 50px;
}

.form-registro-proveedor{
    width: 37%;
    margin-left: 20px;
    background-color:rgb(238, 238, 238);
    padding: 20px;
    border-radius: 50px;
    margin-top: 30px;
    box-shadow: 0px 0px 10px rgb(255, 115, 29);
}

.form-registro-proveedor label{
    font-size: 20px;
    margin-right: 5px;
    font-family: 'Karla', sans-serif;
}

.form-registro-proveedor input{
    font-size: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border: none;
    border-bottom: 1px dotted black;
    background-color: rgb(238, 238, 238) ;
    outline: none;
    width: 100%;
}

.form-registro-proveedor h4{
    color: rgb(255, 115, 29) ;
    font-size: 40px;
    text-shadow: 3px 2px 2px rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Caprasimo', cursive;
}


.contenedor-botones .btnproveedor{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.603);
    background-color: rgb(255, 115, 29) ;
    border: none;
    padding: 10px;
    color:rgb(238, 238, 238);
    font-size: 17px;
    font-family: 'Karla', sans-serif;
    border-radius: 50px;
    margin-top: 5px;
    outline: none;
    text-shadow: 3px 1px 2px black;
}


.contenedor-tabla-proveedor{
    width: 97%;
    margin-left: 20px;
    background-color:rgb(238, 238, 238);
    margin-top: 30px;
    box-shadow: 0px 0px 5px rgb(255, 115, 29);
    border-radius: 30px;
    padding: 20px;
    margin-right: 20px;

}


.contenedor-tabla-proveedor th{
    font-size: 20px;
    text-align: center;
    color: rgb(255, 98, 0);
    padding: 8px;
}

.contenedor-tabla-proveedor td{
    border-bottom: 1px solid rgba(0, 0, 0, 0.281);
    font-size: 17px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    padding: 15px;
}

.contenedor-tabla-proveedor .modificar{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.603);
    background-color: rgb(255, 112, 29) ;
    border: none;
    padding: 5px;
    color: aliceblue;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    outline: none;
}

.contenedor-tabla-proveedor.modificar:hover{
    background-color: rgb(216, 89, 10);
}

.contenedor-tabla-proveedor .cancelar{
    margin-top: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.603);
    background-color: rgb(255, 29, 29) ;
    border: none;
    padding: 5px;
    color: aliceblue;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    outline: none;
}

.contenedor-tabla-proveedor .cancelar:hover{
    background-color: rgb(189, 0, 0);
}

.boton-cerrarSesion{
    margin: 50px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    background-color: rgb(255, 94, 0) ;
    border: none;
    padding: 10px;
    color: aliceblue;
    font-size: 20px;
    font-family: 'Karla', sans-serif;
    border-radius: 50px;
    outline: none;
}
